services:
  postgres:
    image: postgres:15-alpine
    container_name: myeconocoach-db
    restart: always
    env_file:
      - ./env/.env
    ports:
      - "5431:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: myeconocoach-redis
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

  kafka:
    image: apache/kafka:4.1.1
    container_name: myeconocoach-kafka
    restart: always
    env_file:
      - ./env/.env
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: ${KAFKA_NODE_ID}
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: ${KAFKA_NODE_ID}@kafka:9093

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: ${KAFKA_ADVERTISED_LISTENERS}
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

    volumes:
      - kafka_data:/var/lib/kafka/data

  celery-worker:
    build: .
    container_name: econocoach-celery-worker
    command: celery -A config worker -l info
    env_file:
      - ./env/.env
    depends_on:
      - postgres
      - redis

  celery-beat:
    build: .
    container_name: econocoach-celery-beat
    command: celery -A config beat -l info
    env_file:
      - ./env/.env
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
  redis_data:
  kafka_data:
