Django
djangorestframework
django-allauth
django-cors-headers
"psycopg[binary]"
requests
django-environ
pyJWT
cryptography
drf-spectacular
python-dateutil
kafka-python
celery
redis
black
isort
flake8
mypy
django-stubs
pytest
pytest-django
google-auth-oauthlib
oauthlib
requests-oauthlib
types-requests
types-python-dateutil
pytest-json-report